# Bundler
/.bundle
/vendor/bundle

# Logs and temp files
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
!/tmp/pids/
!/tmp/pids/.keep
!/tmp/storage/
!/tmp/storage/.keep

# PID/socket/cache
/tmp/pids/*
!/tmp/pids/.keep
/tmp/cache/*
/tmp/sockets/*

# Credentials / Secrets
/config/master.key
/.env
/.env.*
